<style>
    table, th, td {
        border:2px solid black;
        padding: 10px;
        line-height: 30px;
    }
</style>

<p id="oneId">Clockings List</p>
<div style="padding: 30px;">
    <button style="padding: 20px" ng-click="getClocks(cx)"> Load data </button>
    <br><br>
    <table align="center" class="oneClass">
        <tr>
            <th>
                Id
            </th>
            <th>
                Minutes Duration
            </th>
            <th>
                Grade
            </th>
            <th>
                Clocking Description
            </th>
            <th>
                Subject
            </th>
            <th>
                Clocking StartDate
            </th>             
            <th>
                Clocking FinishDate
            </th>              
            <th>
                Localization
            </th>                                               
            <th>
                PersonId
            </th>       
            <th>
                Removed
            </th>
        </tr>               
        <tr ng-repeat="c in clockings"  ng-click="chooseOneClockingRow(c.id)">
            <td>{{c.id}}</td>  
            <td>{{c.minutesDuration}}</td>
            <td>{{c.grade}}</td>
            <td>{{c.clockingDescription}}</td>
            <td>{{c.subject}}</td>
            <td>{{c.clockingStartDate}}</td>
            <td>{{c.clockingFinishDate}}</td>
            <td>{{c.localization}}</td>
            <td>{{c.person.id}}</td>
            <td>{{c.removed}}</td>
        </tr>
    </table>
    <div ng-hide="hideEditClocking">
    <table align="center" class="oneClass">
        <tr>
            <td>{{oneClocking.id}}aaaaaaaaaa</td>  
            <td>{{oneClocking.grade}}</td>
            <td>{{oneClocking.minutesDuration}}</td>
            <td>{{oneClocking.clockingDescription}}</td>
            <td>{{oneClocking.subject}}</td>
            <td>{{oneClocking.clockingStartDate}}</td>
            <td>{{oneClocking.clockingFinishDate}}</td>
            <td>{{oneClocking.localization}}</td>
            <td>{{oneClocking.person.id}}</td>
            <td>{{oneClocking.removed}}</td>
        </tr>oneClocking    </table>


    </div>
    

    <br><br>
    </div>
</div>