<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- HEADER -->
<!--<core-header class="app-header navbar"></core-header>-->
<!-- MENU -->
<!--<div data-ng-include="'views/core/aside.html'" class="app-aside hidden-xs"></div>-->
<!-- MAIN -->
alaoa sdfkghsdklgh
<div class="app" id="app" data-ui-view></div>
fgsdfgsdfg
<!-- FOOTER
<core-footer></core-footer>
 -->
